a.link {
  color: black;
  text-decoration: none;
}

.description {
  font-weight: 500;
}

.thumbnail {
  display: inline-block;
  position: relative;
}

.jammies-gif {
  height: 25px;
  padding-left: 5px;
}

.indicator {
  color: white;
  background-color: rgba(41, 36, 43, 0.85);
  font-size: 12px;
  margin: 5px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

.duration {
  position: absolute;
  top: 0;
  left: 0;
}

.views {
  position: absolute;
  left: 0;
  bottom: 0;
}

.created-at {
  position: absolute;
  right: 0;
  bottom: 0;
}
