a.link {
  color: black;
  text-decoration: none;
}

.thumbnail {
  display: inline-block;
  position: relative;
}

.indicator {
  color: white;
  background-color: rgba(41, 36, 43, 0.85);
  font-size: 12px;
  margin: 5px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

.duration {
  position: absolute;
  top: 0;
  left: 0;
}

.views {
  position: absolute;
  left: 0;
  bottom: 0;
}

.createdAt {
  position: absolute;
  right: 0;
  bottom: 0;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to truncate after */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
